<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Properties>
    <Property name="projectPrefix">fibanocci</Property>
  	<Property name="rawPattern">%d [%-5p] %C{2} (%F:%L) - %m%n</Property>
    <Property name="fileName">../logs/${projectPrefix}.log</Property>
    <Property name="filePattern">../logs/${projectPrefix}-%i.log</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${rawPattern}" />
    </Console>
    <RollingFile name="LogFile" fileName="${fileName}" filePattern="${filePattern}">
      <PatternLayout pattern="${rawPattern}" />
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB" />
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>